<style>
   body {
    background-color: black;
   }

    .color-fondo {
        background-color: rgba(49, 2, 70, 0.966);
        padding: 25px;
        font-weight: bold;
        color: white;
        text-align: center;
    }
    .color-fondo2 {
        background-color: rgb(5, 240, 228);
        padding: 28px;
        color: rgb(0, 0, 0);
        text-align: left;
    }
    .color-fondo3 {
        background-color: rgb(3, 240, 62);
        padding: 25px;
        color: rgb(0, 6, 82);
        text-align: right;
    }
    .color-fondo4 {
        background-color: rgb(0, 39, 211);
        padding: 20px;
        color: white;
        text-align: center; 
    }   
    </style>